$bg1: #d33f2e;
$bg2: #f4f4f4;
$bg3: #e83432;
$bg4: #ffefd8;
$bg5: #262928;
$bg6: #fdf0c9;
$bg7: #010101;
$bg8: #e83436;
$font1: #606060;
$font2: #333;
$font3: #dad6d3;
$font4: #9c9c95;
$font5: #fffbe7;
$font6: #666;
$font7: #f73624;
$font8: #626262;
$font9: #999;

